Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/Content/AnimStarterPack/UE4_Mannequin/Materials/MaterialLayers
/Content/AnimStarterPack/UE4_Mannequin/Materials
/Content/AnimStarterPack/UE4_Mannequin/Mesh
/Content/AnimStarterPack/UE4_Mannequin/Textures
/Content/AnimStarterPack
